# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Aa]ssets/Bakery
/[Aa]ssets/DTT
/[Aa]ssets/CharacterCustomizer
/[Aa]ssets/Editor
/[Aa]ssets/Heat - Complete Modern UI
/[Aa]ssets/Japanese_Street
/[Aa]ssets/Packages
/[Aa]ssets/Plugins
/[Aa]ssets/ReversedAssets
/[Aa]ssets/Rukha93
/[Aa]ssets/Rukha93.meta
/[Aa]ssets/INab Studio
/[Aa]ssets/INab Studio.meta
/[Aa]ssets/Nuget.config
/[Aa]ssets/CharacterCustomizer.json
/[Aa]ssets/Bakery.meta
/[Aa]ssets/DTT.meta
/[Aa]ssets/CharacterCustomizer.meta
/[Aa]ssets/Editor.meta
/[Aa]ssets/Heat - Complete Modern UI.meta
/[Aa]ssets/Japanese_Street.meta
/[Aa]ssets/Packages.meta
/[Aa]ssets/Plugins.meta
/[Aa]ssets/ReversedAssets.meta
/[Aa]ssets/Nuget.config.meta
/[Aa]ssets/CharacterCustomizer.json.meta
/[Aa]ssets/TextMesh Pro
/[Aa]ssets/TextMesh Pro.meta
/[Aa]ssets/packages.config
/[Aa]ssets/packages.config.meta
/[Aa]ssets/Smartphone
/[Aa]ssets/Smartphone.meta
/[Aa]ssets/Resources/DOTweenSettings.asset
/[Aa]ssets/Resources/DOTweenSettings.asset.meta
/[Aa]ssets/Resources/NPC 1.prefab
/[Aa]ssets/Resources/NPC 1.prefab.meta
/[Aa]ssets/Scenes
/[Aa]ssets/Scenes.meta
/[Aa]ssets/Sky
/[Aa]ssets/Sky.meta
/[Aa]ssets/Texture
/[Aa]ssets/Texture.meta
/[Aa]ssets/Font
/[Aa]ssets/Font.meta
/[Aa]ssets/Model
/[Aa]ssets/Model.meta
/[Aa]ssets/Audio
/[Aa]ssets/Audio.meta
/[Aa]ssets/Settings/BakeryProjectSettings.asset
/[Aa]ssets/Settings/BakeryProjectSettings.asset.meta

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

.idea/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*DotSettings
*bakery_times.log

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
